body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 16px; /* Adjusted border radius */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;

}
#display {
    background-color: #333;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    box-sizing: border-box;
    border-radius: 8px; /* Adjusted border radius */
    margin-bottom: 10px; /* Gap between display and buttons */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Gap between buttons */
}

.btn {
   border: 1px solid #ccc;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #666;
    color: white;
    transition: background-color 0.2s;
    text-align: center;
    border-radius: 8px;
}




.btn:hover {
    background-color: #555;
}

.clear {
    background-color: red;
    color: white;
}

.operator {
    background-color: orange;
    color: white;
}

.equal {
    background-color: green;
    color: white;
}

.hidden {
    visibility: hidden;
}
